div(class="code-input hide")
    input(type="text" name="code" class="code-input__number")
    input(type="text" name="code" class="code-input__number")
    input(type="text" name="code" class="code-input__number")
    input(type="text" name="code" class="code-input__number")
    input(type="text" name="code" class="code-input__number")
    input(type="text" name="code" class="code-input__number")