div(class="code-input hide")
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=0)
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=1)
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=2)
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=3)
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=4)
    input(type="number" name="code" class="code-input__number" autocomplete="off" tabindex=5)