.nav
    ul(class="nav__menu")
        li.nav__elem Редактировать профиль
        li.nav__elem.disabled Премиум аккаунт
        li.nav__elem.active 
            span Поддержка
            div(class="count") 2
        li.nav__elem Настройки
        li.nav__elem Выйти
    div.nav__info В данный чат вы можете написать о проблемах, с которыми столкнулись в работе приложения, и мы постараемся оперативно их исправить