.active {
    background-color: rgba(252, 213, 196, 0.4);
}

.message-aside {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 11px 20px;

    &:hover {
        background-color: rgba(252, 213, 196, 0.4);
    }

    &__photo {
        width: 48px;
        height: 48px;
        margin-right: 15px;
        border-radius: 50%;
        background-image: url("/assets/img/man.jpg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__message {
        flex: 1 0 auto;
    }
    &__name {
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #595959;
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #666666;
    }
    &__amount {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: linear-gradient(90deg, #FF0099 -30%, #FFAA2D 133.33%);

        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.00615385em;
        color: #FFFFFF;
    }
}