mixin message(name, message, n)
    .message-aside
        .message-aside__photo
        .message-aside__message
            .message-aside__name= name
            .message-aside__text= message
        .message-aside__amount= n