.filters
    .filters__icon
        img(class="gray-icon" src="/assets/img/filters.svg", alt="Иконка фильтра")
        img(class="pink-icon hide" src="/assets/img/filters-active.svg", alt="Иконка фильтра")
    .filters__text Фильтры
    .filters__container