.filters {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #AAAAAA;
    }
    .active {
        color: #FF4D67;
        background-color: inherit;
        z-index: 20;
    }
}




