div(class="profile")
    img(src="/assets/img/man1.jpg" alt="")
    div(class="text")
        p.profile__name Serman, 23
        p.about О нем:
        p.about-info Обажаю тыквенно пряничный латте из старбакса, особенно зимой.
    img(src="/assets/img/man2.jpg" alt="")
    div(class="text")
        .profile__info
            div(class="foodtype info-item")
                img(src="/assets/img/icon-foodtype.svg", alt="")
                p Американская, Японкая, Итальянская
            div(class="food info-item")
                img(src="/assets/img/icon-food.svg", alt="")
                p Фастфудер, Кофеман
            div(class="clothes info-item") 
                img(src="/assets/img/icon-clothes.svg", alt="")
                p Кэжуал
            div(class="height info-item")
                img(src="/assets/img/icon-height.svg", alt="")
                p 181
    img(src="/assets/img/man3.jpg" alt="")
    div(class="text")
        ul.fav 
            .heading Его любимые места:
            li.place Старбакс
            li.place Бричмула
            li.place Кетчап
    img(src="/assets/img/man4.jpg" alt="")