.close-btn {
    cursor: pointer;
    z-index: 10;
    background-color: #ACB4BE;
    background-image: url('/assets/img/btn-white-cross.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.aside-container {
    position: relative;
    flex: 0 0 290px;

    .close-btn {
        position: absolute;
        right: 22px;
        top: 15px;
    }
}

.profile-container {
    height: 100vh;
    overflow: hidden;
    .profile {
        width: 100%;

        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #4B4B4B;

        .text {
            margin: 1px 0;
            padding: 15px 20px 20px;
            background-color: #FCD5C4;
        }

        &__name {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #2E2D2D;
        }
        .about {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #363636;
        }

        &__info {
            .info-item {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    margin-right: 20px;
                }
            }
        }
        .fav {
            .heading {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #363636;
            }

            .place {
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                color: rgba(0, 0, 0, 0.8);
            }
        }
    } 
}