+message-pink('gender-message ', 'Мужчина')
+message-gray('date ', 'Введи дату рождения')
div(class="date-input")
    div(class="date-input__date select")
        input(type="hidden" class="select__input" name="")
        .select__head День
        - var day = 1;
        ul(class="select__list ")
            while day < 32
                li.select__item= day++
    div(class="date-input__month select")
        input(type="hidden" class="select__input" name="")
        .select__head Месяц
        ul(class="select__list ")
            li.select__item Январь
            li.select__item Февраль
            li.select__item Март
            li.select__item Апрель
            li.select__item Май
            li.select__item Июнь
            li.select__item Июль
            li.select__item Август
            li.select__item Сентябрь
            li.select__item Октябрь
            li.select__item Ноябрь
            li.select__item Декабрь
    div(class="date-input__year select")
        input(type="hidden" class="select__input" name="")
        .select__head Год
        - var year = 1960;
        ul(class="select__list ")
            while year <= 2003
                li.select__item= year++
button(class="next-btn ") Далее