div(class="date-input")
    div(class="date-input__date select")
        input(type="hidden" class="select__input" name="")
        .select__head День
        ul(class="select__list ")
            li.select__item 1
            li.select__item 2
            li.select__item 3
            li.select__item 4
            li.select__item 5
            li.select__item 6
            li.select__item 7
            li.select__item 8
            li.select__item 9
            li.select__item 10
            li.select__item 11
            li.select__item 12
            li.select__item 13
            li.select__item 14
            li.select__item 15
            li.select__item 16
            li.select__item 17
            li.select__item 18
            li.select__item 19
            li.select__item 20
            li.select__item 21
            li.select__item 22
            li.select__item 23
            li.select__item 24
            li.select__item 25
            li.select__item 26
            li.select__item 27
            li.select__item 28
            li.select__item 29
            li.select__item 30
            li.select__item 31
    div(class="date-input__month select")
        input(type="hidden" class="select__input" name="")
        .select__head Месяц
        ul(class="select__list ")
            li.select__item Сентябрь
            li.select__item Октябрь
            li.select__item Ноябрь
            li.select__item Декабрь
            li.select__item Январь
    div(class="date-input__year select")
        input(type="hidden" class="select__input" name="")
        .select__head Год
        ul(class="select__list ")
            li.select__item 1999
            li.select__item 2000
            li.select__item 2222
            li.select__item 2002
            li.select__item 2003