.register-page {
    background-color: #FBFBFB;
}
.register-container {
    max-width: 600px;
    margin: 0 auto;
}

.register-header {
    width: 600px;
    position: fixed;
    background-color: #FBFBFB;
    img {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

.register-chat {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
}
.message {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.016em;
}
.message-gray {
    max-width: 285px;

    align-self: flex-start;
    background-color: #ECECEC;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 10px 20px;
    
    color: #484848;
}
.message-pink {
    max-width: 260px;

    align-self: flex-end;
    background-color: #FF6D83;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 10px 20px;

    color: white;
}
// Добавляем разную ширину у текстовых блоков
.confirm {
    max-width: 265px;
}
.person-info {
    max-width: 222px;
}
.sex {
    max-width: 251px; 
}

.name-input,
.sex-male, 
.sex-female {
    margin-top: 15px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 332px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 17px;

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #484848;
}