+message-gray('places ', 'Мы почти закончили, осталось выбрать три твоих любимых заведения (ретораны, бары или кофейни')
+message-gray('places ', 'Просто начни вводит названия твоих любимых мест в поля ввода.')
div(class="places-input select")
        .select__head
            input(type="text" class="places" name="")
            button(class="places-input__clear ")
        ul(class="select__list ")
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++
            li.select__item day++