@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  // @media screen and (max-width: $desktopWidth) {
	// 	font-size: 16px;
  // }
  // @media screen and (max-width: $tableWidth) {
	// 	font-size: 15px;
  // }
  // @media screen and (max-width: $phoneWidth) {
	// 	font-size: 14px;
  // }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $mainFontColor;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: $headingColor;
}

h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
} 

// Modules
@import "../../blocks/photo-name/photo-name";
@import "../../blocks/switcher/switcher";
@import "../../blocks/messages/messages";
@import "../../blocks/filters/filters";
@import "../../blocks/filters-modal/filters-modal";
@import "../../blocks/header/header";
@import "../../blocks/person-card/person-card";
@import "../../blocks/message-aside/message-aside";
@import "../../blocks/invite-aside/invite-aside";
@import "../../blocks/invites/invites";
@import "../../blocks/profile/profile";
@import "../../blocks/chat/chat";
@import "../../blocks/complaint/complaint";
@import "../../blocks/no-internet/no-internet";

// Pages
@import "../../assets/scss/modules/main-page.scss";

.hide {
  display: none;
}