include ./pug/mixins/mixins

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Firstep
    meta(name="description", content='Firstep: Register page')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/assets/css/reg.css")

  body(class='register-page')
    .register-container
        .register-header
            img(src="/assets/img/logo.svg", alt="Firstep")
        .register-chat
            +message-gray('', 'Привет!')
            +message-gray('', 'Давай выберем способ авторизации в приложении (Нажми на одну из кнопок ниже)')
            button.phone-btn 
                img(src="/assets/img/icon-phone.svg", alt="")
                p Номер телефона
            button.fb-btn 
                img(src="/assets/img/icon-fb.svg", alt="")
                p Facebook
            +message-pink('phone hide', 'По номеру телефона')
            +message-gray('phone hide', 'Введи свой номер телефона')
            div(class="phone-input phone hide")
              input(type="tel" id="phone" name="phone" class="phone phone-input hide" placeholder="Введи номер телефона" autocomplete="off")
            button(class="phone confirm-phone hide" id="confirm-phone") Подтвердить
            +message-pink('confirm hide', '+7 905-205-65-66')
            +message-gray('confirm hide', 'Сейчас на твой номер придет код, введи его в поле ниже')
            include ./blocks/code-input/code-input
            +message-pink('person-info hide', '')
            +message-gray('person-info hide', 'А теперь познакомимся. Напиши свое имя')

    script(src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js")

    script(defer src="/js/reg.js")
    script(defer src="/js/vendors.js")

    script(defer)
      include ./js/init-facebook.js

    script(defer)
      include ../node_modules/intl-tel-input/build/js/intlTelInput.js

    script(defer)
      include ./blocks/phone-number/phoneInputInit.js

    