div(class="no-internet hide")
    img(src="/assets/img/logo.svg", alt="" class="no-internet__logo")
    .no-internet__container
        img(src="/assets/img/problem-girl.svg", alt="" ckass="no-internet__image")
        .no-internet__text Проверьте подключение к интернету или нажмите обновить
