doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Firstep
    meta(name="description", content='Personal page of the Firstep website')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/assets/css/main.css")

  body(class='main-page')
    include ./blocks/no-internet/no-internet
    aside(class="personal-info")
      include ./blocks/photo-name/photo-name
      include ./blocks/switcher/switcher
      include ./blocks/messages/messages
      include ./blocks/invites/invites
    div(class="other-persons")
      include ./blocks/filters-modal/filters-modal
      include ./blocks/complaint/complaint
      include ./blocks/header/header
      .card-container
        div(class="problems-container hide")
          img(src="/assets/img/problem-man.svg", alt="")
          p Включите голокацию чтобы увидеть пользователей рядом с вами и знакомиться
        include ./blocks/person-card/person-card
    div(class="chat-container hide")
      include ./blocks/chat/chat
      .aside-container
        button.close-btn
        .profile-container
          include ./blocks/profile/profile
    script(defer src="/js/main.js")
    script(defer src="/js/vendors.js")