div(class="input-img")
    input(type="file" id="file-input" name="file" multiple)
    span Перетащи свои фото сюда
    span или 
        label(for="file-input") загрузи из галереи
div(class="photos-download")
.photo-input__descr Допустимые форматы jpg, jpeg, png. Минимальный размер фото 500 500
    
button(class="next-btn img") Далее

         