div(class="input-img")
    input(type="file" id="file-input" name="file")
    span Перетащи свои фото сюда
    span или 
        label(for="file-input") загрузи из галереи
.photo-input__descr Допустимые форматы jpg, jpeg, png. Минимальный размер фото 500 500

div(class="photos-download")
    .photo-box
    .photo-box
button(class="next-btn") Далее

         