+message-gray('', 'Привет!')
+message-gray('', 'Давай выберем способ авторизации в приложении (Нажми на одну из кнопок ниже)')
button.phone-btn 
    img(src="/assets/img/icon-phone.svg", alt="")
    p Номер телефона
button.fb-btn 
    img(src="/assets/img/icon-fb.svg", alt="")
    p Facebook