.switcher
    div(class="switcher__item switch-checked") 
        .message-text Сообщения
        div(class="message-amount switcher__amount") 4
    div(class="switcher__item") 
        .invite-text Приглашения
        div(class="invite-amount switcher__amount") 12