+message-pink('phone ', 'По номеру телефона')
+message-gray('phone ', 'Введи свой номер телефона')
div(class="phone-input phone ")
    input(type="tel" id="phone" name="phone" class="phone phone-input " placeholder="Введи номер телефона" autocomplete="off")
button(class="phone confirm-phone " id="confirm-phone") Подтвердить