.empty-messages
    .empty-messages__img
        img(src="/assets/img/purple-girl.svg" alt="")
    .empty-messages__text У тебя пока нет чатов. Принятые приглашения будут появляться здесь в виде чатов
.messages