mixin message-gray(type, text)
    div(class="message-gray "+ type)
        .message= text

mixin message-pink(type, text)
    div(class="message-pink "+ type)
        .message= text

mixin dropdown(type, elems)
    ul(class="dropdown-container "+ type)
        each elem in elems
            li= elem