mixin message-gray(type, text)
    div(class="message-gray "+ type)
        .message= text

mixin message-grad(type, text)
    div(class="message-grad "+ type)
        .message= text

.chat
    header.chat-header
        .chat-header__left
            img(src="/assets/img/man.jpg", alt="")
            .name Serman, 25
        .chat-header__right
            button.extra-func
            button.close-btn
    main.messages-container
        .invitation Вы пригласили его в 
            span.pink Токио-сити
        .date Cегодня
        .messages
            +message-grad('chat-mess', 'Привет')
            +message-grad('chat-mess', 'Завтра сможешь?')
            +message-gray('chat-mess', 'Конечно да')
            +message-grad('chat-mess', 'Тогда договорились')
            +message-gray('chat-mess', 'Хорошо, я обязательно приду')
    .bottom
        input(type="text" class="new-mess")
        button.send-mess
            img(src="/assets/img/send-mess.svg", alt="")