+message-pink('name name-message ', 'Ян')
+message-gray('gender welcome-message', 'Приятно познакомиться, Ян. Теперь выбери свой пол')
button(class="gender-btn male ") Я мужчина
button(class="gender-btn female ") Я женщина