mixin place-btn(name)
  .place-btn= name

.person-card
    .person-card__container
        .person-card__photo
            include ../photo-slider/photo-slider
            .person-card__places
                .invite Пригласи ее в:
                .person-card__btns
                    +place-btn('Вольчека')
                    +place-btn('Брос буритос')
                    +place-btn('Макдоналдс')
        .person-card__descr
            .person-card__name Ольга, 22
            .person-card__about
                .about Обо мне:
                .about-info Хочу сладостей и роллов с сухим вином
            .person-card__info
                div(class="foodtype info-item")
                    img(src="/assets/img/icon-foodtype.svg", alt="")
                    p Американская, Японкая, Итальянская
                div(class="food info-item")
                    img(src="/assets/img/icon-food.svg", alt="")
                    p Фастфудер, Мясоед, Кофеман
                div(class="clothes info-item") 
                    img(src="/assets/img/icon-clothes.svg", alt="")
                    p Кэжуал, Классическая
                div(class="height info-item")
                    img(src="/assets/img/icon-height.svg", alt="")
                    p 171
    .person-card__nav
        button.nav-invite(disabled="disabled") Пригласить
        .nav-btns
            .nav-prev
            .nav-cancel