.photo-slider
    img(src="/assets/img/cursor-no.svg" class="box-pointer hide cursor")
    .frame 
        ul.items
            li
            li
            li
            li
            li
        ul.pages