+message-pink('person-info ', '111111')
+message-gray('person-info ', 'А теперь познакомимся. Напиши свое имя')
div(class="name-input name")
    input(type="text" class="name")
    button(class="name-input__clear hide")
button(class="name send-name next-btn") Далее