.support
    .support__header О чем бы вы хотели написать?
    .button
        .left Сообщить о проблеме
        .right
            div(class="count") 2
            img(src="/assets/img/pink-arrow.svg")
    .button
        .left Предложить идею
        .right
            div(class="count") 2
            img(src="/assets/img/pink-arrow.svg")
    .button
        .left Добавить заведение
        .right
            div(class="count hide") 2
            img(src="/assets/img/pink-arrow.svg" class="disabled")
        
